<div class="container">
  <form [formGroup]="offreEmploiForm" >

    <label for="categorieOffre" class="form-label">Catégorie Offre</label>
    <input type="text" class="form-control" id="categorieOffre" placeholder="categorieOffre"
      formControlName="categorieOffre">

    <label for="description" class="form-label">Description de l'offre</label>
    <input type="text" class="form-control" id="description" placeholder="description" formControlName="description">
    <div class="form-group col-3">
      <label for="dateLimite" class="form-label">Date limite de Candidature</label>
      <input type="date" class="form-control" id="dateLimite" formControlName="dateLimite">
    </div>
    <div class="form-group col-3">
      <label for="salaire" class="form-label">Salaire</label>
      <input type="number" class="form-control" id="salaire" placeholder="0" formControlName="salaire">
    </div>
    <div class="form-group col-3">
      <label for="experienceSouhaite" class="form-label">Experience Souhaitée</label>
      <input type="number" class="form-control" id="experienceSouhaite" placeholder="0"
        formControlName="experienceSouhaite">
    </div>

    <div class="form-group col-3">
      <label> Niveau de Qualification souhaité</label>
      <select class="form-control" formControlName="niveauQualification">
        <option *ngFor="let g of niveauQualificationEnum" value="{{g.value}}">
          {{ g.title }}
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <label> Type de contrat proposé</label>
      <select class="form-control" formControlName="typeContrat">
        <option *ngFor="let g of typeContratEnum" value="{{g.value}}">
          {{ g.title }}
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <label> Statut de l'offre d'emploi</label>
      <select class="form-control" formControlName="statue">
        <option *ngFor="let g of statutEnum" value="{{g.value}}">
          {{ g.title }}
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <input type="checkbox" class="form-check-input" formControlName="active"> Offre active ?
    </div>
    <!-- ajout du lieu: -->
    <div class="container">
      <span> L'offre concerne un lieu déjà enregistré?</span>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="lieuDejaCree" id="dejaCree" formControlName="lieuDejaCree"
          value="oui" (change)="pasEncoreCree()">
        <label class="form-check-label" for="dejaCree">
          Oui
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="lieuDejaCree" id="pasEncore" (change)="pasEncoreCree()"
          formControlName="lieuDejaCree" value="non">
        <label class="form-check-label" for="pasEncore">
          Non, enregistrer un nouveau lieu
        </label>
      </div>
      <h4 *ngIf="lieuCree == 'cree'" style="color: green;"> Lieu Créé ! </h4>

      <div *ngIf="lieuCree == 'oui'" [formGroup]="idLieuForm">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idLieu">
          <option selected >Choisir lieu</option>
          <option  *ngFor="let lieu of lieuAffichage" value="{{lieu}}"> {{lieu.adresse}} {{lieu.ville}} </option>

        </select>

      </div>
      <!-- <div *ngIf="lieuCree == 'non'">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal" (click)="ouvreModal()"> Enregistrer nouveau lieu </button>
      </div> -->
      <div *ngIf="lieuCree == 'non'" >
        <form class="was-validated" [formGroup]="lieuForm" (ngSubmit)="creeLieu()">
          <div class="form-group">
          <label for="idAdresse" class="form-label">Adresse</label>
          <input type="text" class="form-control" id="idAdresse" placeholder="adresse" formControlName="adresse" required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">Remplissez le champ svp</div>
        </div>
          <label for="idCp" class="form-label">Code Postal</label>
          <input type="text" class="form-control" id="idCp" placeholder="codePostal" formControlName="codePostal">

          <label for="idVille" class="form-label">Ville</label>
          <input type="text" class="form-control" id="idVille" placeholder="ville" formControlName="ville">

          <label for="idRegion" class="form-label">Région</label>
          <input type="text" class="form-control" id="idRegion" placeholder="région" formControlName="region">

          <label for="idPays" class="form-label">Pays</label>
          <input type="text" class="form-control" id="idPays" placeholder="pays" formControlName="pays">


          <button class="btn btn-primary" type="submit">Créer Lieu</button>
          <br>
        </form>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" (click)="creelOffre()">Valider</button>

  </form>

</div>



<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> Nouveau Lieu</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button> -->
      </div>
      <div class="modal-body">

        <form [formGroup]="lieuForm">

          <label for="idAdresse" class="form-label">Adresse</label>
          <input type="text" class="form-control" id="idAdresse" placeholder="adresse" formControlName="adresse">

          <label for="idCp" class="form-label">Code Postal</label>
          <input type="text" class="form-control" id="idCp" placeholder="codePostal" formControlName="codePostal">

          <label for="idVille" class="form-label">Ville</label>
          <input type="text" class="form-control" id="idVille" placeholder="ville" formControlName="ville">

          <label for="idRegion" class="form-label">Région</label>
          <input type="text" class="form-control" id="idRegion" placeholder="région" formControlName="region">

          <label for="idPays" class="form-label">Pays</label>
          <input type="text" class="form-control" id="idPays" placeholder="pays" formControlName="pays">


          <button class="btn btn-primary" type="submit">Valider</button>

        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="reset()">Fermer</button> -->
      </div>

    </div>
  </div>
</div>
