<!-- page ou on va passer l'exam -->


<h1>Creation de nouveaux Questionnaires</h1>

<div class="container">
  <div class="container">
    <h4 class="section-heading text-center">Questionnaires </h4>

    <table>
      <tr *ngFor="let quest of questionnaires;let i= index ">
        <td> {{i+1}} : {{quest.secteurActivite}} </td> <td><a class="btn btn-secondary"
          routerLink="/nouveauQuestionnaire/{{quest.id}}">
          <fa-icon [icon]="iconeEdit"> </fa-icon>
        </a></td>
        <td><button class="btn btn-dark" type="button" (click)="supprimer(quest.id)">
          <fa-icon [icon]="iconePoubelle"> </fa-icon>
        </button></td>
        <td><button class="btn btn-info" routerLink="/examen/{{quest.id}}">Passer Exam</button> </td>

      </tr>
    </table>
    <span class="col-3"></span> <button class="btn btn-info col-3" routerLink="/nouveauQuestionnaire">Creer nouveau
      Questionnaire </button>

  </div>

</div>
