<!-- ici on va passer l'exam, répondre aux questions et tout ! -->
<div class="container" *ngIf="questionnaire">
  <div class="row">
    <div class="h3 text-center">
      {{questionnaire.secteurActivite}}
    </div>

    <div  *ngFor="let question of questionnaire.questions">
      <br>
     <p style="font-weight: 700;"> Question n° {{question.index}} : {{question.texte}}</p>

     <div *ngFor="let reponse of question.reponses">
       <span > {{reponse.nom}} </span> <input type="checkbox" class="form-check-input"  (change)="changeVraiFaux(question.id, reponse.id)">
     </div>
    </div>
      <span class="col-3"></span><button class="btn btn-info col-1" (click)="validerQuestionnaire()"> Valider </button>
  </div>

</div>
