<section class="faq">
  <div class="container">
      <h4 class="section-heading text-center"><span>Dernières </span>Offres <span>d'emploi</span></h4>
      <div class="row align-items-stretch">
          <div class="col-md-6">
              <div class="faq-individual"  *ngFor="let offre of offres |  slice:0:5" (click)="toggleClass(offre)" [ngClass]="{'active': offre.active}">
                  <p class="faq-question">{{offre.description}}</p>
                  <p class="faq-answer">{{offre.experienceSouhaite}}</p>
                  <p class="faq-answer">{{offre.categorieOffre}}</p>
                  <p class="faq-answer">{{offre.id}}</p>
                  <p class="faq-answer">{{offre.datePublication | date}}</p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="faq-individual"  *ngFor="let offre of offres |  slice:6:11" (click)="toggleClass(offre)" [ngClass]="{'active': offre.active}">
                <p class="faq-question">{{offre.description}}</p>
                <p class="faq-answer">{{offre.experienceSouhaite}}</p>
                <p class="faq-answer">{{offre.categorieOffre}}</p>
                <p class="faq-answer">{{offre.id}}</p>
              </div>
          </div>
      </div>
  </div>
</section>
