<div class="container">
  <div class="searchbox">
      <form [formGroup]="jobSearch">
          <div class="searchbox-individual">
              <div class="searchbox-title">
                <img  alt="">Emploi
              </div>

              <select class="form-control" [formControl]="capsule">
                <option value="-1" disabled selected></option>
                <option *ngFor="let s of typeEmploi" value="{{s.value}}">
                    {{ s.title }}
                </option>
            </select>
          </div>
          <div class="searchbox-individual">
              <div class="searchbox-title">
                  <img  alt="">Lieu
              </div>
              <select class="form-control" [formControl]="capsule">
                <option value="-1" disabled selected></option>
                <option *ngFor="let s of villes" value="{{s.value}}">
                    {{ s.title }}
                </option>
              </select>
          </div>
          <div class="searchbox-individual">
              <div class="searchbox-title">
                  <img  alt="">Experience
              </div>
              <select class="form-control" [formControl]="experienceForm">
                <option value="-1" disabled selected></option>
                <option *ngFor="let s of experience" value="{{s}}">
                    {{ s }}
                </option>
            </select>
          </div>
          <button class="button primary-button" (click)="recherche()">Search</button>
      </form>
  </div>
</div>

<section *ngIf="aCherche">


</section>
<app-dernieres-offres></app-dernieres-offres>



